@media screen and (max-width: 1600px) {
    .materials {
        &-next {
            right: 0;
        }
        &-prev {
            left: 0;
        }
    }
    .capability {
        overflow: hidden;
        &-item:last-child::before {
            bottom: -40px;
            right: -40px;
            width: 80px;
            height: 80px;
        }
    }
}


@media screen and (max-width: 1440px) {

    .section {
        &-title {
            margin-bottom: 30px;
            font-size: 64px;
            line-height: 110%;
        }
    }
    .random-dot {
        width: 20px;
        height: 20px;
    }
    .container {
        max-width: 981px;
    }
    .header {
        padding-top: 62px;
        &-logo {
            svg {
                max-width: 213px;
            }
        }
        &-btn {
            padding: 7px;
            margin-right: 16px;
            max-width: 144px;
            font-weight: 500;
            font-size: 14.2222px;
            line-height: 18px;
            border-width: 2px;
        }
    }
    .main {
        padding-top: 221px;
        padding-bottom: 203px;
        background-image: url('../img/main/bg-i.jpg');
        .page {
            &-title {
                margin-bottom: 9px;
                max-width: 740px;
                &::before {
                    right: 101px;
                    bottom: 3px;
                    width: 40px;
                    height: 40px;
                    backdrop-filter: blur(3.39593px);
                }
            }
        }
        &-subtitle {
            margin-bottom: 22px;
            max-width: 698px;
            font-size: 28px;
            line-height: 115%;
        }
        &-date {
            margin-bottom: 47px;
            max-width: 819px;
            &-mounth {
                padding: 13px 20px;
                font-weight: 600;
                font-size: 48px;
                line-height: 110%;
                border-radius: 16.1932px;
                &::before {
                    display: none;
                }
            }
            &-hour {
                font-size: 48px;
                line-height: 110%;
            }
            &-arrow {
                max-width: 370px;
            }
        }
        &-text {
            max-width: 408px;
            font-size: 18px;
            line-height: 120%;
            
        }
        &-icon {
            .icon {
                max-width: fit-content;
                text-align: center;
            }
            svg {
                max-width: 76%;
            }
        }
    }

    .timetable {
        padding-top: 41px;
        padding-bottom: 88px;
        // background-image: url('../img/timetable/bg-1440.svg');
        background-position: top 100px center;
        &-title {
            margin-bottom: 38px;
            font-size: 30px;
        }
        &-desc {
            margin-bottom: 25px;
            max-width: 783px;
            font-size: 18px;
            line-height: 22px;
        }
        &-subtitle {
            margin-bottom: 17px;
            font-size: 30px;
        }
        &-round {
            margin-bottom: 86px;
            max-width: 702px;
            &-title {
                margin-bottom: 12px;
                font-size: 20px;
                line-height: 25px;
            }
            &-list {
                padding: 10px 20px 18px;
                &::before {
                    height: 87px;
                    bottom: 4px;
                }
            }
            &-item {
                max-width: 336px;
                &:first-child {
                    max-width: 330px;
                    &::before {
                        height: 102px;
                        right: -17px;
                    }
                }
            }
            &-small {
                margin-bottom: 7px;
                font-size: 16px;
                line-height: 110%;
            }
            &-date {
                margin-bottom: 7px;
                font-size: 20px;
                line-height: 110%;
            }
            &-hour {
                font-size: 16px;
                line-height: 110%;
            }
        }
        &-bottom {
            .timetable-subtitle {
                margin-bottom: 40px;
                max-width: 395px;
            }
            max-width: 395px;
        } 
        &-final {
            padding: 13px 23px 19px;
            max-width: 395px;
            align-items: center;
            &-text {
                margin-top: 14px;
                font-size: 18px;
                line-height: 21px;
            }
        }
        &-img {
            margin-right: 24px;
            svg {
                max-height: 66px;
                max-width: 63px;
            }
        }
        &-info {
            font-size: 40px;
            line-height: 110%;
            span {
                margin-top: 9px;
                font-size: 16px;
            }
        }
    }


    .choice {
        padding-top: 158px;
        padding-bottom: 159px;
        // background-image: url('../img/choice/bg-1440.jpg');
        .container {
            &::before {
                display: none;
            }
        }
        &-title {
            margin-bottom: 14px;
            max-width: 415px;
            font-size: 20px;
            line-height: 120%;
        }
        
        &-item {
            margin-bottom: 80px;
            margin-right: 40px;
            max-width: 460px;
            font-size: 18px;
            font-weight: 400;
            line-height: 120%;
            &.mb-0 {
                    max-width: 422px;
                }
            
        }
        &-btn {
            padding: 17px 48.5px;
            font-size: 20px;
            line-height: 25px;
        }
        &-img {
            max-height: 457px;
            max-width: calc(100vw - 53%);
            right: 8.0119%;
            bottom: 9%;
            &::before {
                display: none;
            }
        }
    }


    .materials {
        padding-top: 61px;
        padding-bottom: 152px;
        // background-image: url('../img/materials/bg-1440.svg');
        background-position: bottom 69px left 80px;
        &-item {
            padding: 27px 19px 35px;
            box-shadow: 0px 3.34846px 43.53px rgba(0, 0, 0, 0.05), 0px 1.28978px 13.8651px rgba(0, 0, 0, 0.0303704), 0px 0.272838px 3.54689px rgba(0, 0, 0, 0.0196296);

        }
        &-top {
            margin-bottom: 25px;
            font-size: 20px;
            line-height: 120%;
        }
        &-btns {
            a {
                margin-bottom: 7px;
                padding: 17.5px 0;
                font-size: 20px;
            }
        }
        &-prev, &-next {
            svg {
                max-width: 34px;
            }
        }
        &-prev {
            left: -71px;
        }
        &-next {
            right: -71px;
        }
        
    }


    .capability {
        padding-top: 140px;
        padding-bottom: 240px;
        // background-image: url('../img/capability/bg-1440.jpg');
        background-size: 100% 100%;
        .section {
            &-title {
                margin-bottom: 33px;
            }
        }
        &-item {
            padding: 16px 25px 18px;
            max-width: calc(50% - 19.5px);
            margin-bottom: 42px;
            min-height: 220px;
        }
        &-img {
            right: 25px;
            bottom: 25px;
            img {
                max-height: 65px;
            }
        }
        &-title {
            margin-bottom: 9px;
            font-size: 20px;
            line-height: 110%;
        }
        &-desc {
            max-width: 335px;
            font-size: 16px;
            line-height: 19px;
        }
    }


    .faq {
        padding-top: 100px;
        padding-bottom: 150px;
        .section {
            &-title {
                margin-bottom: 58px;
            }
        }
        &-content {
            column-gap: 0px;
        }
        &-list {
            margin-right: 27px;
            max-width: 425px;
            &:nth-child(2n) {
                margin-right: 0;
                max-width: 507px;
            }
        }
        &-title {
            margin-bottom: 10px;
            font-size: 20px;
            line-height: 110%;
        }
        &-desc {
            margin-bottom: 23px;
            max-width: 174px;
            font-size: 20px;
            font-weight: 400;
        }
        &-item {
            margin-bottom: 27px;
            &.dark {
                padding: 26.7px;
            }
        }
        &-btn {
            padding: 16.5px;
            font-size: 20px;
            line-height: 25px;
        }
    }


    .acc {
        &-container {
            padding: 28px 27px;
        }
        &-btn {
            max-width: 360px;
            font-size: 20px;
            line-height: 120%;
            font-weight: 400;
            &::after {
                top: 30px;
                right: 30px;
                width: 27px;
                height: 19px;
                background-size: contain;
            }
        }
        &-content {
            font-size: 18px;
            line-height: 120%;
            &.active {
                margin-top: 32px;
            }
            p {
                margin-bottom: 25px;
            }
        }
    }


    .documents {
        padding-top: 141px;
        padding-bottom: 165px;
        // background-image: url('../img/documents/bg-1440.jpg');
        background-size: 100% 100%;
        .section {
            &-title {
                margin-bottom: 30px;
            }
        }
        &-list {
            margin-bottom: 74px;
        }
        &-item {
            min-height: 66px;
            a {
                margin-bottom: 30px;
                font-size: 18px;
                line-height: 120%;
            }
        }
    }



    .org {
        padding-top: 239px;
        padding-bottom: 133px;
        margin-top: -111px;
        background-image: url('../img/org/bg-1440.svg');
        background-size: 507px 396px;
        display: none;
        .section {
            &-title {
                margin-bottom: 44px;
            }
        }
        &-md {
            display: block;
        }
        &-item {
            display: flex;
            margin-right: 65px;
            margin-bottom: 42px;
            // img {
            //     max-height: 86px;
            //     object-fit: contain;
            // }
        }
    }


    .footer {
        padding-top: 216px;
        padding-bottom: 123px;
        // background-image: url('../img/footer/bg-i.jpg');
        background-size: 100% 100%;
        .container {
            max-width: 957px;
        }
        &-title {
            margin-bottom: 10px;
            font-size: 18px;
        }
        &-logo {
            margin-bottom: 37px;
            svg {
                max-width: 225px;
                max-height: 30px;
            }
        }
        &-text {
            max-width: 225px;
            font-size: 18px;
            line-height: 22px;
            font-weight: 400;
        }
        &-menu {
            li {
                margin-bottom: 12px;
                &:last-child {
                    margin-bottom: 0;
                }
                a {
                    font-size: 18px;
                    font-weight: 500;
                    line-height: 120%;
                }
            }
        }
        &-contacts {
            margin-top: 37px;
        }
        &-btn {
            margin-bottom: 14px;
            padding: 2px;
            width: 100%;
            max-width: 144px;
            font-size: 14px;
            font-weight: 500;
        }
    }











































    .menu-desc-item {
        display: none !important;
    }

}




@media screen and (max-width: 992px) {
    
    
    .parallax__layer {
        display: none;
    }
    .burger-menu {
        display: block;
        cursor: pointer;
    }
    .menu {
        position: fixed;
        right: -150%;
        top: 0;
        width: 100%;
        height: 100%;
        padding-top: 35px;
        padding-bottom: 35px;
        background-color: #fff;
        z-index: 999;
        overflow-y: scroll;
        transition: all .3s;
        display: block;
        &.active {
            right: 0%;
        }
        &-close {
            position: absolute;
            right: 20px;
            top: 16px;
            cursor: pointer;
        }
        &-logo {
            margin-bottom: 43px;
        }
        
        ul {
            li {
                margin-bottom: 30px;
                &:last-child {
                    margin-bottom: 0;
                }
                a {
                    color: #000;
                    font-weight: 500;
                    font-size: 20px;
                    line-height: 120%;
                }
            }
        }
        &-btn {
            padding: 17.5px;
            margin-top: 47px;
            margin-bottom: 17px;
            width: 100%;
            display: inline-block;
            color: #fff;
            font-size: 20px;
            line-height: 25px;
            font-weight: 500;
            background-color: #000;
        }
        &-log {
            background-color: transparent;
            display: inline-block;
            width: 100%;
            text-align: center;
            font-size: 24px;
            line-height: 29px;
            font-weight: 500;
            color: #0077FF;
            &:hover {
                background-color: transparent;
                color: #0077FF;
            }
        }
    }
    .container {
        max-width: 450px;
        padding-left: 30px;
        padding-right: 30px;
    }
    .section {
        &-title {
            margin-bottom: 3px;
            font-size: 40px;
            line-height: 110%;
        }
    }
    .header {
        padding-top: 53px;
        &-log {
            display: none;
        }
        &-logo {
            display: flex;
            align-items: center;
            justify-content: space-between;
            svg {
                max-width: 198px;
                max-height: 28px;
            }
        }
    }

    .footer {
        padding-top: 127px;
        padding-bottom: 68px;
        background-image: url('../img/footer/bg-mob.jpg');
        background-size: auto 100%;
        background-position: top center;
        .container {
            max-width: 375px;
            padding-left: 30px;
            padding-right: 30px;
        }
        &-logo {
            margin-bottom: 12px;
            svg {
                max-height: 28px;
                max-width: 198px
            }
        }
        &-menu {
            display: none;
        }
        &-text {
            margin-bottom: 32px;
            max-width: 268px;
            font-size: 16px;
            line-height: 19px;
        }
        &-btn {
            display: none;
        }
        &-contacts {
            margin-top: 0;
        }
        &-title {
            font-size: 16px;
            margin-bottom: 12px;
        }
    }

    @import '_media-main.scss';
    @import '_media-timetable';
    @import '_media-choice';
    @import '_media-materials';
    @import '_media-capability';
    @import '_media-documents';
    @import '_media-org';
    @import '_media-faq';
    
}