.choice {
    padding-top: 125px;
    padding-bottom: 115px;
    background-image: url('../img/choice/bg-mob-i.jpg');
    background-size: auto 100%;
    background-position: left 47% top;
    &-title {
        margin-bottom: 12px;
        font-size: 28px;
    }
    &-list {
        flex-wrap: wrap;
    }
    &-item {
        margin-right: 0;
        margin-bottom: 40px;
        font-size: 16px;
        &:first-child {
            margin-right: 0;
        }
    }
    &-btn {
        background-color: #fff;
        width: 100%;
        max-width: 100%;
    }
    &-img {
        display: none;
        &-mob {
            margin: 0px -30px;
            margin-bottom: 49px;
            display: block;
        }
    }
    &-bottom {
        margin-top: 42px;
    }
}