.timetable {
    position: relative;
    padding-top: 46px;
    padding-bottom: 212px;
    // background-image: url('../img/timetable/bg.svg');
    background-repeat: no-repeat;
    background-position: center;
    z-index: 1;
    background-color: #fff;
    overflow: hidden;
    &::before {
        // content: '';
        position: absolute;
        left: 80px;
        top: 0;
        transform: translateY(-100%);
        width: 100%;
        height: 160px;
        max-width: 1040px;
        background-image: url('../img/main/main-b.png');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: bottom left;
    }
    a {
        color: #0077FF;
    }
    .parallax__layer {
        position: absolute;
        left: 0%;
        top: 0%;
        // width: 100%;
        // height: 90%;
        max-width: 90%;
        z-index: -1;
        img {
            position: sticky;
            top: 0;
            // width: 100%;
            // height: 100%;
            object-fit: cover;
        }
    }
    &-desc {
        margin-bottom: 40px;
        max-width: 1044px;
        font-weight: 400;
        font-size: 24px;
        line-height: 120%;
    }
    &-subtitle {
        margin-bottom: 23px;
        width: 100%;
        font-weight: 400;
        font-size: 48px;
        line-height: 110%;
        span {
            font-weight: 700;
            &.mob {
                display: none;
            }
        }
    }
    &-round {
        margin-bottom: 126px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
        max-width: 1058px;
        &-small {
            margin-bottom: 12px;
            font-weight: 400;
            font-size: 24px;
            line-height: 110%;
            opacity: 0.3;
        }
        &-date {
            margin-bottom: 11px;
            font-weight: 600;
            font-size: 30px;
            line-height: 110%;
        }
        &-hour {
            font-weight: 400;
            font-size: 24px;
            line-height: 110%;
        }
        &-item {
            position: relative;
            width: 100%;
            max-width: 507px;
            &:first-child {
                max-width: 498px;
                &::before {
                    content: '';
                    position: absolute;
                    right: -26px;
                    bottom: 0;
                    width: 1px;
                    height: 154px;
                    background-color: #C0C0C0;
                }
            }
            &:last-child {
                color: #fff;
            }
            
        }
        &-list {
            position: relative;
            padding: 16px 30px 28px;
            display: flex;
            width: 100%;
            box-shadow: 0px 5px 65px rgba(0, 0, 0, 0.05);
            &::before {
                content: '';
                position: absolute;
                left: 50%;
                bottom: 6px;
                width: 1px;
                height: 132px;
                background-color: #C0C0C0;
            }
            &.blue {
                background: #0077FF;
            }
            &.purple {
                background-color: #8024C0;
            }
            &.pink {
                background-color: #D201D7;
            }
        }
        &-info {
            width: 50%;
            &:last-child {
                padding-left: 32px;
            }
        }
        &-title {
            margin-bottom: 19px;
            font-weight: 600;
            font-size: 30px;
            line-height: 38px;
            color: #000;
            &.blue {
                color: #0177FF;
            }
        }
    }
    &-bottom {
        display: flex;
        flex-direction: column;
        max-width: 596px;
        margin: auto;
        .timetable-subtitle {
            margin: auto;
            margin-bottom: 58px;
            max-width: 596px;
        }
        
    }
    &-final {
        padding: 27px 35px;
        max-width: 596px;
        width: 100%;
        display: flex;
        background-color: #0077FF;
        color: #fff;
        &-text {
            margin-top: 28px;
            font-size: 24px;
            font-weight: 400;
            line-height: 29px;
        }
        
    }
    &-img {
        margin-right: 37px;
    }
    &-info {
        font-weight: 600;
        font-size: 61.7143px;
        line-height: 110%;
        span {
            display: block;
            margin-top: 13px;
            font-weight: 400;
            font-size: 24px;
            line-height: 110%;
        }
    }
    
    &-title {
        margin-top: 51px;
        margin-bottom: 23px;
        font-weight: 700;
        font-size: 48px;
        line-height: 110%;
    }
   

}