.page {
    &-title {
        width: 100%;
        max-width: 1058px;
        color: #fff;
    }
}

.parallax__layer {
    transition: all 10s;
}

.random-dot {
    position: absolute;
    z-index: 3;
    width: 36px;
    height: 36px;
    transition: all .3s;
    opacity: 0;
    transform: scale(0);
    &.fadeIn {
        opacity: 1;
        transform: scale(1);
    }
}

.btn {
    background-color: #fff;
    transition: all .3s;
    color: $text-color;
    &:hover {
        background-color: #000;
        color: #fff;
        border-color: #000;
    }
}


.menu {
    display: none;
}

.paralax {
    overflow: hidden;
}

.img {
    transition: all .1s;
}

.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}

.circles li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(0, 234, 255, .5);
    animation: animate 25s linear infinite;
    bottom: -150px;
    
}

.circles li:nth-child(1) {
    width: 36px;
    height: 36px;
    animation-delay: 0s;
}

.circles li:nth-child(1) {
    left: 25%;
    animation-delay: 0s;
}


.circles li:nth-child(2) {
    left: 10%;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    animation-delay: 0s;
}


@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-2300px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}
  
.acc {
    &-content {
        max-height: 0;
        overflow: hidden;
        transition: all 0.3s ease-in-out;
        font-weight: 400;
        font-size: 24px;
        line-height: 120%;
        color: $text-color;
        &.active {
            margin-top: 40px;
        }
        a {
            color: #0077FF;
        }
        p {
            margin-bottom: 35px;
            max-width: 640px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    &-container {
        position: relative;
        padding: 41px 40px;
    }
    &-btn {
        max-width: 485px;
        width: 100%;
        cursor: pointer;
        background: inherit;
        border: none;
        font-weight: 400;
        font-size: 32px;
        line-height: 120%;
        outline: none;
        text-align: left;
        transition: all 0.5s linear;
        color: $text-color;
        &.is-open:after {
            transform: translateY(23%) rotate(90deg);
        }
        &::after {
            content: "";
            position: absolute;
            right: 40px;
            top: 41px;
            transform: translateY(23%);
            width: 40px;
            height: 28px;
            background-image: url('../img/faq/arr.svg');
            background-repeat: no-repeat;
            background-size: cover;
            transition: all 0.3s linear;
        }
    }
    
}




.credit {
    text-align: center;
    padding: 1rem;
    a {
        text-decoration: wavy underline;
        color: dodgerblue;
    }
}


.section {
    &-title {
        margin-bottom: 24px;
        font-weight: 600;
        font-size: 80px;
        line-height: 110%;
        color: $text-color;
    }
}