@font-face {
    font-family: 'VK Sans Display';
    src: url('../fonts/VKSansDisplay-Regular.woff'), url('../fonts/VKSansDisplay-Regular.woff2');
    font-weight: 400;
}
@font-face {
    font-family: 'VK Sans Display';
    src: url('../fonts/VKSansDisplay-Medium.woff'), url('../fonts/VKSansDisplay-Medium.woff2');
    font-weight: 500;
}
@font-face {
    font-family: 'VK Sans Display';
    src: url('../fonts/VKSansDisplay-DemiBold.woff'), url('../fonts/VKSansDisplay-DemiBold.woff2');
    font-weight: 600;
}
@font-face {
    font-family: 'VK Sans Display';
    src: url('../fonts/VKSansDisplay-Bold.woff'), url('../fonts/VKSansDisplay-Bold.woff2');
    font-weight: 700;
}