/*--------- RESET START -----------*/
*{
	padding: 0;
	margin: 0;
	border: 0;
	-webkit-tap-highlight-color: transparent;
	appearance: none;
	font-family: 'VK Sans Display';
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-tap-highlight-color: transparent;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	// height: 100%;
	// width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited, a:active, a:hover, a:focus{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;max-width:100%;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------- RESET END -----------*/

$text-color: #212121;


@import '../../node_modules/bootstrap/scss/bootstrap-grid.scss';

@import '../../node_modules/swiper/swiper.scss';



@import 'fonts';
@import 'all';
@import '_header';
@import '_main';
@import '_timetable';
@import '_choice';
@import '_materials';
@import '_capability';
@import '_documents';
@import '_org';
@import '_faq';
@import '_footer';
@import 'media/media-all';